body {
  margin: 0;
  overflow: hidden;
  background: #eeebef;
  font-family: sans-serif;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.circle,
.circle-follow {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
}

.circle {
  background: black;
}

.circle-follow {
  width: 22px;
  height: 22px;
  border: 2px solid black;
}

.circle,
.circle-follow,
.mouse-effect,
*::after,
*::before {
  pointer-events: none !important;
}
